.App {
  text-align: center;
  padding: 1.5rem 0;
  height: 95vh;
  background-image: url('images/IMG-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.Apph {
  text-align: center;
  padding: 1.5rem 0;
  height: 100%;
  background-image: url('images/IMG-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

*{
  padding: 0;
  margin: 0;
}

.App h1 {
  font-size: 2.5rem;
}

form {
  display: flex;
  width: 70%;
  margin: 1rem auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
form input {
  height: 40px;
  flex-basis: 80%;
  padding: 0 10px;
}
form button {
  height: 40px;
  flex-basis: 20%;
  border: 2px solid rgb(187, 186, 186);
  font-weight: 500;
  font-size: 17px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.outerdiv{
  width: 70%;
  margin: auto;
}
.outerdiv ul{
  list-style: none;
  margin-top: 2.2rem;
}
.outerdiv ul div{
  display: flex;
}
.outerdiv ul li{
  width: 90%;
  padding: 7px 1.5rem;
  padding-bottom: 11px;
  font-size: 25px;
  position: relative;
  text-align: left;
  background-color: black;
  color: white;
  margin-bottom: 0.4rem;
}
.outerdiv ul  h6{
  font-size: 30px;
  width: 10%;
  float: inline-end;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 5px 0rem;
  padding-bottom: 11px;
  margin-bottom: 0.4rem;
}

.completeToDo{
  position: fixed;
  text-decoration: line-through;
  color: red !important;
}


.hr{
  width: 70%;
  margin: auto;
  margin-top: 1rem;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 14.5rem;
}






@media screen and (max-width:600px) {
  .App {
    text-align: center;
    padding: 1.5rem 0;
    height: 95vh;
    background-image: url('images/IMG-bg.webp');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .Apph {
    text-align: center;
    padding: 1.5rem 0;
    height: 100%;
    background-image: url('images/IMG-bg.webp');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
